<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-sm-offset-2">
      <div class="form-login">
        <p align="center"><span class="text-logo">secondary.</span></p>

        <h2>Editar <%= resource_name.to_s.humanize %></h2>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">

            <%= f.input :name, label: 'Nome', required: true, autofocus: true %>
            <%= f.input :email, required: true %>
            <%= f.input :cpf, label: 'CPF', required: true %>
            <%= f.input :birthdate, as: :string, input_html: {class: "datepicker"}, label: 'Data de nascimento', required: true %>
            <%= f.input :document_number, label: 'Número de Documento', required: true %>
            <%= f.input :expedition_date, as: :string, input_html: {class: "datepicker"}, label: 'Data de expedição', required: true %>
            <%= f.input :mother_name, label: 'Nome da mãe', required: true %>
            <%= f.input :father_name, label: 'Nome do pai', required: true %>
            <%= f.input :address, label: 'Endereço', required: true %>
            <%= f.input :phone, label: 'Telefone', required: true %>
            <%= f.input :bank, label: 'Banco', required: true %>
            <%= f.input :account_agency, label: 'Agência', required: true %>
            <%= f.input :account_number, label: 'Número de conta', required: true %>


            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>

            <%= f.input :password, autocomplete: "off", placeholder: "Deixe em branco se não quiser trocar", required: false %>
            <%= f.input :password_confirmation, required: false %>
            <%= f.input :current_password, placeholder: "Insira sua senha atual para confirmar suas alterações", required: true %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Atualizar meus dados", class: "btn btn-primary" %>
          </div>
        <% end %>


        <p>Não gostou?
        <br>
        <%= link_to "Suprimir minha conta", registration_path(resource_name), data: { confirm: "Tem certeza?" }, method: :delete %></p>

        <%= link_to "Voltar", :back %>
      </div>
    </div>
  </div>
</div>

<% content_for(:js) do %>
  <%= javascript_tag do %>
    var form = $("#example-advanced-form").show();

form.steps({
    headerTag: "h3",
    bodyTag: "fieldset",
    transitionEffect: "slideLeft",
    onStepChanging: function (event, currentIndex, newIndex)
    {
        // Allways allow previous action even if the current form is not valid!
        if (currentIndex > newIndex)
        {
            return true;
        }
        // Forbid next action on "Warning" step if the user is to young
        if (newIndex === 3 && Number($("#age-2").val()) < 18)
        {
            return false;
        }
        // Needed in some cases if the user went back (clean up)
        if (currentIndex < newIndex)
        {
            // To remove error styles
            form.find(".body:eq(" + newIndex + ") label.error").remove();
            form.find(".body:eq(" + newIndex + ") .error").removeClass("error");
        }
        form.validate().settings.ignore = ":disabled,:hidden";
        return form.valid();
    },
    onStepChanged: function (event, currentIndex, priorIndex)
    {
        // Used to skip the "Warning" step if the user is old enough.
        if (currentIndex === 2 && Number($("#age-2").val()) >= 18)
        {
            form.steps("next");
        }
        // Used to skip the "Warning" step if the user is old enough and wants to the previous step.
        if (currentIndex === 2 && priorIndex === 3)
        {
            form.steps("previous");
        }
    },
    onFinishing: function (event, currentIndex)
    {
        form.validate().settings.ignore = ":disabled";
        return form.valid();
    },
    onFinished: function (event, currentIndex)
    {
        alert("Submitted!");
    }
}).validate({
    errorPlacement: function errorPlacement(error, element) { element.before(error); },
    rules: {
        confirm: {
            equalTo: "#password-2"
        }
    }
});
  <% end %>
<% end %>
