<br>
<%= link_to "voltar", admin_securities_path, class: "links" %>
<div class="row">
  <div class="col-md-9">
    <% if @bids.empty? %>
      <h5> Seja o primeiro ate fazer um lance </h5>
    <% else %>
      <% if !@security.status.nil? %>
        <div class="bid-title">
          <h3>Titulo Vendido</h2>
            <div class="offer" id="best">
              <i class="fa fa-star" aria-hidden="true"></i>
              <ul>
                <li>Lance Ganhador: <%= number_to_currency(@bid.first.price) %></li>
                <%= @bid.first.buyer.email %>
                <%= @security.user.email %>
              </ul>
            </div>
        </div>
      <% else %>
        <h1 class="bid-title"> </h1>
        <% bids = @bids.to_a %>
        <% best_offer = bids.shift %>

        <div class="offer" id="best">
          <i class="fa fa-star" aria-hidden="true"></i>
              <div class="offer-info">

              <% rate = number_to_percentage(((best_offer.price-@security.value)/@security.value)*100, precision: 2) %>
              <h3><%= number_to_currency(best_offer.price)%> </h3>
              <p>Lance ofrecido no <%= best_offer.created_at.strftime("%d/%m/%Y %H:%M:%S") %></p>
              <p >Taxa sobre preço base: <span style="color:<%= rate.to_f < 0 ? "red" : "green" %>;"><%= rate %> </span></p>
                <% if best_offer.buyer == current_user %>
                  <h5>Você esta ganhando este lance</h5>
                <% end %>
              <%= best_offer.buyer.email %>
              <%= @security.user.email%>
              </div>
              <% if current_user == @security.user %>
                <div id="controls">
                  <%= simple_form_for(["admin", @security, best_offer]) do |form| %>
                  <%= form.button :submit, "Aceitar", class: "btn btn-primary" %>
                  <% end %>
                  <%= link_to "Rejeitar", admin_security_bid_path(@security, best_offer.id), method: :delete, action: :destroy, class: "btn btn-danger" %>
               </div>
          <% end %>
        </div>

        <% bids.to_a.each do |bid| %>
          <div class="offer">
            <div class="offer-info">
              <p><%= number_to_currency(bid.price)%> - Lance ofrecido no <%= bid.created_at.strftime("%d/%m/%Y %H:%M:%S") %> - Taxa sobre base: <%= number_to_percentage(((bid.price-@security.value)/@security.value)*100, precision: 2) %> </p>
              <% if bid.buyer == current_user %>
                  <h5>Faça um lance maior para ganhar este leilão</h5>
                <% end %>
              <%= bid.buyer.email %>
              <%= @security.user.email%>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-3">
    <%=render 'shared/security_card', security: @security, link_path: security_path(@security) %>
  </div>
</div>
