<style>
.best-offer {
background-color:white;
padding: 10px;
border-radius: 5px;
box-shadow: 5px 5px 10px #cccccc;
transition: border .5s;
border: 1px solid #b3b3b3;
border-radius: 3px;
}

.bid-title {
  font-size: 30px;
  font-weight: 700;
}

</style>

<div class="container"> <!--Remove before mergin -->
  <br>
  <div class="row">
    <div class="col-md-9">
    <h1 class="bid-title"> Ofertas:</h1>
      <% @bids.each do |bid| %>
      <div class="best-offer">
        <ul>
          <li>Name: <%= bid.security.name %></li>
          <li>Inicial Price<%= bid.security.price.round(2) %></li>
          <li>Best Offer: <%= bid.price.round(2)  %> from <%= bid.buyer.email %></li>
        </ul>
      </div>
      <% end %>
    </div>
    <div class="col-md-3">
      <%=render 'shared/security_card', security: @security %>
    </div>
  </div>
</div>
