<style>
label {
  font-size: 14px;

}
abbr[title="required"] {
  display: none;
}
</style>


<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="form-security">
        <h1 class="text-logo">secondary.</h1>
        <br>
        <%= simple_form_for([:admin, @security]) do |f| %>

          <div class="form-input form-group-sm">
            <%= f.association :security_type, label: 'Tipo de título' %>
            <%= f.association :issuer, label: 'Emissor' %>
            <%= f.input :code, label: 'Código do título (ex: LCI 98E00059531)' %>
            <div class="row">
              <div class="col-sm-6">
                <%= f.input :issue_date, as: :string, input_html: {class: "datepicker"}, label: 'Data de emissão', wrapper_html: { class: 'title' }%>
              </div>
              <div class="col-sm-6">
                <%= f.input :maturity, as: :string, input_html: {class: "datepicker"}, label: 'Data de vencimento' %>
              </div>
            </div>
            <div class="row">
            <div class="col-sm-9">
                <%= f.input :unit_price, label: 'Preço unitário', input_html: { id: "real-money", data: {thousands: ".", decimal: ",", prefix:"R$ "} }, as: :string %>
              </div>
              <div class="col-sm-3">
                <%= f.input :quantity, label: 'Quantidade' %>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <%= f.input :rate, label: 'Taxa (%)', input_html: { id: "taxa-money", data: {thousands: ".", decimal: ",", suffix:" %"} }, as: :string  %>
              </div>
              <div class="col-sm-6">
                <%= f.input :indexer, collection: ["CDI", "PRE", "IPC-A+", "IGP-M+"], label: 'Indexador' %>
              </div>
            </div>
            <%= f.input :date_limit, as: :string, input_html: {class: "datepicker"}, label: 'Aberto para negociação até' %>
            <div class="row">
              <div class="col-sm-6" id="current-value">
                <%#= f.input :current_value, label: 'Valor atual (R$)', readonly: true %>
              </div>
              <div class="col-sm-6">
                <%= f.input :price, label: 'Preço de venda (R$)' %>
              </div>
            <div class="form-input form-group-sm">
              <%= f.input :file, label: 'Anexar Nota de negociação' %>
              <%= f.input :file_cache, as: :hidden %>
            </div>
          </div>

          <div class="form-actions">
            <%= f.button :submit, class: "btn btn-primary", value: "Cadastrar título" %>
          </div>
        <% end %>
        <br>
          <%= link_to 'Voltar', :back, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>


<% content_for :js do %>
  <script type="text/javascript">
    $("#real-money").maskMoney();
    $('#taxa-money').maskMoney();
    $("#new_security").submit(function(ev) {
        ev.preventDefault(); // to stop the form from submitting
        /* Validations go here */
        var num = $("#real-money").maskMoney('unmasked')
        var num1 = $("#taxa-money").maskMoney('unmasked')
        $("#real-money").attr("type", "number");
        $("#taxa-money").attr("type", "number");
        $("#real-money").val(num[0]);
        $("#taxa-money").val(num1[0]);
        this.submit(); // If all the validations succeeded
    });
   </script>
<% end %>
