<div class="bid-card text-center">
  <h3 class="text-logo">secondary.</h3>
  <%= simple_form_for :bid_calculation, url: calculate_security_path(@security), method: :post, remote: true do |f| %>
    <div class="form-inputs">
      <%= f.input :mode, as: :radio_buttons, label: "Faça sua oferta", collection: [:price, :rate], checked: :price %>
      <div class="price-mode">
        <%= f.input :masked_price, label: 'Valor de oferta (R$)', autofocus: true, input_html: { min: @security.price.to_f/10, value: @security.price.to_f/10, autofocus: true, id: "masked-money", data: {thousands: ".", decimal: ",", prefix:"R$ "} }, as: :string %>
        <%= f.input :price, as: :hidden, input_html: {id: "real-money"} %>
      </div>
      <div class="row">
        <div class="col-sm-6 rate-mode hidden">
        <%= f.input :masked_rate, label: 'Taxa oferta (%)', input_html: { id: "masked_taxa-money", data: {thousands: ".", decimal: ",", suffix:" %"} }, as: :string, autofocus: true %>
        <%= f.input :rate, as: :hidden, input_html: {id: "taxa-money"} %>
        </div>
        <div class="col-sm-6 indexer-mode hidden">
        <%= f.input :indexer, collection: ["CDI", "PRE", "IPC-A+", "IGP-M+"], label: 'Indexador' %>
        </div>
      </div>
    </div>

    <div class="form-actions" id="calculate">
      <%= submit_tag 'Calcular', class: 'btn btn-navy-blue' %>
    </div>
  <% end %>
</div>

<% content_for :js do %>
  <script type="text/javascript">
    $("#masked-money").maskMoney();
    $('#masked_taxa-money').maskMoney();
    $("form.bid_calculation .btn").on('click', function(ev) {
        ev.preventDefault(); // to stop the form from submitting
        /* Validations go here */
        var num = $("#masked-money").maskMoney('unmasked')
        var num1 = $("#masked_taxa-money").maskMoney('unmasked')
/*        $("#real-money").attr("type", "number");*/
/*        $("#taxa-money").attr("type", "number");*/
        $("#real-money").val(num[0]);
        $("#taxa-money").val(num1[0]);
        $(this).closest("form").trigger('submit.rails');
    });
    $("#new_security").submit(function(ev) {
        ev.preventDefault(); // to stop the form from submitting
        /* Validations go here */
        var num = $("#masked-money").maskMoney('unmasked')
        var num1 = $("#masked_taxa-money").maskMoney('unmasked')
/*        $("#real-money").attr("type", "number");*/
/*        $("#taxa-money").attr("type", "number");*/
        $("#real-money").val(num[0]);
        $("#taxa-money").val(num1[0]);
        this.submit(); // If all the validations succeeded
    });
   </script>
<% end %>
