<div class="bid-card text-center">
  <h3 class="text-logo">secondary.</h3>
  <%= simple_form_for :bid_calculation, url: calculate_security_path(@security), method: :post, remote: true do |f| %>
    <div class="form-inputs">
      <%= f.input :mode, as: :radio_buttons, collection: ["price", "rate"], checked: "price" %>
      <div class="price-mode">
        <%= f.input :price, as: :float, label: 'Valor de Oferta', autofocus: true, input_html: { min: @security.price, value: @security.price, autofocus: true } %>
      </div>
      <div class="row rate-mode hidden">
        <div class="col-sm-6">
        <%= f.input :rate_in_percent, label: 'Taxa de Oferta', autofocus: true %>
        </div>
        <div class="col-sm-6">
        <%= f.input :indexer, collection: ["CDI", "PRE", "IPC-A+", "IGP-M+"], label: 'Indexador' %>
        </div>
      </div>
    </div>

    <div class="form-actions" id="calculate">
      <%= submit_tag 'Calcular', class: 'btn btn-navy-blue' %>
    </div>
  <% end %>
</div>

