<div class="security-card text-center" id= '<%=@security.issuer.name.downcase.gsub(" ", "-")%>'>
  <%= simple_form_for [:admin, @security, @bid] do |f| %>
  <div class="security-type-logo">
    <%= @security.security_type.name %>
  </div>
  <div class="description">
    <div class="security-card-header">
      <%= image_tag @security.issuer.name.downcase+"-logo.png", height: "40" , id: "logo" %>
      <p><strong>Sua oferta (calcule antes)</strong></p>
    </div>
    <table class="table table-striped" id="calculations">
      <tbody>
        <tr>
          <td>teste:</td>
          <td><%= number_to_percentage(rate_calc, precision:2) %></td>
        </tr>
        <tr>
          <td>Prazo até Vencimento:</td>
          <td><%= @security.time_to_maturity %> dias</td>
        </tr>
        <tr>
          <td>Rentabilidade Bruta:</td>
          <td>
          <% if !@calculation_price %>
            <%= number_to_percentage(rate_calc, precision:2) %>
          <% else %>
            <%= number_to_percentage(gross_profitability, precision:2) %>
          <% end %>
          </td>
        </tr>
        <tr>
          <td>Rentabilidade Líquida:</td>
          <td>
            <% if !@calculation_price %>
              <%= number_to_percentage(net_rate_calc, precision:2) %>
            <% else %>
              <%= number_to_percentage(net_profitability, precision:2) %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>CDI hoje:</td>
          <td><%= number_to_percentage(@security.cdi, precision:2) %></td>
        </tr>
        <tr>
          <td>Rentabilidade Bruta (%CDI):</td>
          <td>
            <% if !@calculation_price %>
              <%= number_to_percentage(rate_calc.to_f*@security.cdi, precision:2) %>
            <% else %>
              <%= number_to_percentage(gross_profitability_cdi.to_f * 100, precision:2) %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>Rentabilidade Líquida (%CDI):</td>
          <td>
            <% if !@calculation_price %>
              <%= number_to_percentage(net_rate_calc.to_f*@security.cdi, precision:2) %>
            <% else %>
              <%= number_to_percentage(net_profitability_cdi.to_f * 100, precision:2) %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>PU da oferta:</td>
          <td>
              <%= number_to_currency(@bid.price.to_f / @security.quantity, precision:2) %>
          </td>
        </tr>
        <tr>
          <td>Valor da oferta:</td>
          <td>
              <%= number_to_currency(@bid.price, precision:2) %>
          </td>
        </tr>
        <tr>
          <td>Taxa Secondary:</td>
          <td><%= number_to_currency(@bid.comission, precision:2) %></td>
        </tr>
        <tr>
          <td>Valor final (oferta + comissão):</td>
          <td><%= number_to_currency(@bid.comission + @bid.price) %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- <button class="btn btn-navy-blue">Enviar ordem</button> -->
        <%= f.input :price, as: :hidden %>
        <%= f.input :rate, as: :hidden %>
        <%= f.input :indexer, as: :hidden %>
  <%= submit_tag 'Enviard ordem', class: 'btn btn-navy-blue' %>
  <% end %>
</div>
