<div class="security-card text-center" id= '<%=security.issuer.name.downcase%>'>
  <%= image_tag security.issuer.name.downcase+"-logo.png", width: "30" , id: "logo" %>
  <div class="security-type-logo">
    <%= security.security_type.name %>
  </div>
  <div class="description">
    <p><strong><%= security.name %></strong></p>
    <table class="table table-striped">
      <tbody>
        <tr>
          <td>Data de Vencimento:</td>
          <td><%= security.maturity %></td>
        </tr>
        <tr>
          <td>Rate:</td>
          <td><%= security.rate*100.00 %>%</td>
        </tr>
        <tr>
          <td>Quantidade:</td>
          <td><%= security.quantity %></td>
        </tr>
        <tr>
          <td>PU</td>
          <td><%= security.unit_price %></td>
        </tr>
        <tr>
          <td>Valor Inicial</td>
          <td><%= security.value %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <%= link_to "ver mais", "#" ,class: "card-link" %>
</div>
