<div class="security-card text-center" id= '<%=security.issuer.name.downcase.gsub(" ", "-")%>'>
  <div class="security-type-logo">
    <%= security.security_type.name %>
  </div>
  <div class="description">
    <div class="security-card-header">
      <%= image_tag security.issuer.name.downcase+"-logo.png", height: "40" , id: "logo" %>
      <p><strong>Titulo <%= security.issuer.name %></strong></p>
    </div>
    <table class="table table-striped">
      <tbody>
        <tr>
          <td>Data de Emissão:</td>
          <td><%= security.issue_date.strftime("%d/%m/%Y") %></td>
        </tr>
        <tr>
          <td>Data de Vencimento:</td>
          <td><%= security.maturity.strftime("%d/%m/%Y") %></td>
        </tr>
        <tr>
          <td>Em negociação até:</td>
          <td><%= security.date_limit.strftime("%d/%m/%Y") %></td>
        </tr>
        <tr>
          <td>Taxa:</td>
          <td><%= number_to_percentage(security.rate.to_f*100, precision:2) %> <%= security.indexer %></td>
        </tr>
        <tr>
          <td>Valor de Mercado:</td>
          <td><%= number_to_currency(security.current_value) %></td>
        </tr>
        <tr>
          <td>Quantidade:</td>
          <td><%= security.quantity %></td>
        </tr>
        <tr>
          <td>PU:</td>
          <td><%= number_to_currency(security.unit_price) %></td>
        </tr>
        <tr>
          <td>Preço mínimo de Venda:</td>
          <td><%= number_to_currency(security.price) %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <%= link_to "ver mais", link_path, class: "card-link" %>
</div>
