<div class="security-card text-center" id= '<%=security.issuer.name.downcase.gsub(" ", "-")%>'>
  <div class="security-type-logo">
    <%= security.security_type.name %>
  </div>
  <div class="description">
    <div class="security-card-header">
      <%= image_tag security.issuer.name.downcase+"-logo.png", height: "40" , id: "logo" %>
      <p><strong><%= security.security_type.name %> - <%= security.issuer.name %></strong></p>
    </div>
    <table class="table table-striped">
      <tbody>
        <tr>
          <td>Data de Emissão:</td>
          <td><%= security.issue_date.strftime("%d/%m/%Y") %></td>
        </tr>
        <tr>
          <td>Data de Vencimento:</td>
          <td><%= security.maturity.strftime("%d/%m/%Y") %></td>
        </tr>
        <tr>
          <td>Em negociação até:</td>
          <td><%= security.date_limit.strftime("%d/%m/%Y") %></td>
        </tr>
        <tr>
          <td>Taxa:</td>
          <td><%= number_to_percentage(security.rate  , precision:2) %> <%= security.indexer %></td>
        </tr>
        <tr>
          <td>Quantidade:</td>
          <td><%= security.quantity %></td>
        </tr>
        <tr>
          <td>PU atual:</td>
          <td><%= number_to_currency(security.current_value/security.quantity) %></td>
        </tr>
        <tr>
          <td>Valor atual:</td>
          <td><%= number_to_currency(security.current_value) %></td>
        </tr>
        <tr>
          <td>Preço mínimo de Venda:</td>
          <td>
          <% if security.bids.empty? %>
            <%= number_to_currency(security.price) %>
          <% else %>
            <%= number_to_currency(security.bids.first.price) %>
          <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <%= link_to "ver mais", link_path, class: "card-link" %>
</div>
