<div class="security-card text-center" id= '<%=security.issuer.name.downcase.gsub(" ", "-")%>'>
  <div class="security-type-logo">
    <%= security.security_type.name %>
  </div>
  <div class="description">
    <div class="security-card-header">
      <%= image_tag security.issuer.name.downcase+"-logo.png", height: "40" , id: "logo" %>
      <p><strong>Titulo <%= security.issuer.name %></strong></p>
    </div>
    <table class="table table-striped">
      <tbody>
        <tr>
          <td>Data de Vencimento:</td>
          <td><%= security.maturity %></td>
        </tr>
        <tr>
          <td>Rate:</td>
          <td><%= (security.rate*100.00).round(2) %>%</td>
        </tr>
        <tr>
          <td>Quantidade:</td>
          <td><%= security.quantity %></td>
        </tr>
        <tr>
          <td>PU</td>
          <td>R$ <%= security.unit_price.round(2) %></td>
        </tr>
        <tr>
          <td>Valor Inicial</td>
          <td>R$ <%= security.value.round(2) %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <%= link_to "ver mais", link_path,class: "card-link" %>
</div>
