<div class="user-card text-center ">
  <p><i class="fa fa-user-circle" aria-hidden="true"></i></p>
  <p><strong>Nome:</strong> <%= user.name%></p>
  <p><strong>Usuario Desde:</strong> <%= user.created_at.strftime("%d/%m/%Y")%></p>
  <p><strong>Ofertas atuais:</strong> <%= user.bids.count %></p>
  <p><strong>Títulos cadastrados:</strong> <%= user.securities.count %></p>
  <p><strong>Saldo em conta:</strong> <%= number_to_currency(user.calc_balance, :unit => "R$ ", :separator => ",", :delimiter => ".") %></p>
  <%= link_to "Cadastre um novo título", new_admin_security_path, class: "btn btn-navy-blue btn-sm" %>
</div>
