<%= render 'shared/banner' %>
<div style="background-image: linear-gradient(-20deg, rgb(50,78,123) 0%, rgba(50,78,123,0.95) 75%), url(<%= cl_image_path('blank_rfir8k.jpg') %>);">
  <%= render 'shared/what_is' %>
  <%= render 'shared/value_proposition' %>
  <%= render 'shared/numbers' %>
  <%= render 'shared/what_clients_say' %>
  <%= render 'shared/partner_banks' %>
  <%= render 'shared/footer' %>
</div>
