<div class="banner" style="background-image: linear-gradient(-135deg, rgba(0,63,191,0.6) 0%, rgba(48,52,129,0.95) 85%), url(<%= cl_image_path('banner_x5lv0l.jpg') %>);">
  <div class="col-xs-offset-1 col-xs-12 col-sm-offset-1 col-sm-8" >
    <h1>secondary.</h1>
    <p>A sua plataforma para negociar títulos de renda fixa.</p>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <%= simple_form_for(@search, url: search_securities_path, method: :get) do |f| %>
              <div class="form-input form-group-sm">
                <%= f.input :price, prompt: "Qual o valor máximo que você quer investir?", label: "Preço", as: :integer %>
                <%= f.input :maturity, prompt: "Qual vencimento você quer?", label: "Vencimento" %>
              </div>
              <div class="form-actions">
                <%= f.button :submit, class: "btn btn-primary", value: "Buscar títulos" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
  </div>
</div>

<% @securities.each do |security| %>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
    <%=render 'shared/security_card', security: security, link_path: admin_security_bids_path(security) %>
  </div>
<% end %>
