<div class="banner" style="background-image: linear-gradient(-135deg, rgba(0,63,191,0.6) 0%, rgba(48,52,129,0.95) 85%), url(<%= cl_image_path('banner_x5lv0l.jpg') %>);">
  <div class="col-xs-offset-1 col-xs-12 col-sm-offset-1 col-sm-8" >
    <h1>secondary.</h1>
    <p>A sua plataforma para negociar títulos de renda fixa.</p>
      <div class="container">
        <div class="row">
          <%= form_tag(search_securities_path, method: :get,  class: "form-group form-group-md") do %>
            <div class="header-input col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-4 col-md-4">
              <%= select_tag :price, prompt: "Quanto você quer investir?", collection: ["Leilão", "Preço fixo", "Negociação aberta"], class: "form-control" %>
            </div>
            <div class="header-input col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-4 col-md-4">
              <%= select_tag :maturity, prompt: "Qual vencimento você quer?", class: "form-control" %>
            </div>
            <div class="header-input col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-4 col-md-4">
              <%= submit_tag "Buscar títulos", class: "btn btn-success", style: "box-shadow: 1px 1px 3px rgba(0,0,0,0.1);" %>
            </div>
          <% end %>
        </div>
      </div>
  </div>
</div>
