<div class="search_banner" style="background-image: linear-gradient(-135deg, rgba(0,63,191,0.6) 0%, rgba(48,52,129,0.95) 85%), url(<%= cl_image_path('banner_x5lv0l.jpg') %>);">
  <div class="col-xs-offset-1 col-xs-12 col-sm-offset-1 col-sm-8" >
    <h1>secondary.</h1>
    <p>Encontre os títulos que se encaixam com suas necessidades.</p>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12">
            <%= simple_form_for(@search, url: search_securities_path, method: :get) do |f| %>
              <div class="form-input form-group-sm row">
                <div class="col-sm-1">
                  <%= f.input :security_type_id, prompt: "Tipo", collection: SecurityType.all, include_blank: "Todos", label: false %>
                </div>
                <div class="col-sm-3">
                  <%= f.input :price, placeholder: "Quanto quer investir?", as: :integer, label: false %>
                </div>
                <div class="col-sm-3">
                  <%= f.input :maturity, placeholder: "Vencimento máximo?", as: :string, input_html: {class: "datepicker"}, label: false %>
                </div>
                <div class="col-sm-2">
                  <%= f.input :issuer_id, prompt: "Emissor", collection: Issuer.all, include_blank: "Todos", label: false %>
                </div>
                <div class="col-sm-1">
                  <%= f.input :rate, placeholder: "Taxa", label: false %>
                 </div>
                <div class="col-sm-2">
                  <%= f.input :indexer, prompt: "Indexador", collection: ["CDI", "PRE", "IPC-A+", "IGP-M+"], include_blank: "Todos", label: false %>
                </div>
              </div>
              <div class="form-input form-group-sm row" align="center">
                <%= f.button :submit, class: "btn btn-success", value: "Buscar títulos" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
  </div>
</div>

<br>

<div class="container text-center">

  <% if @search.empty? %>
    <h3> Todos os títulos cadastrados <h3>
  <% else %>
    <h3> Resultados da sua busca <h3>
  <% end %>
  <% @securities.each do |security| %>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
      <%=render 'shared/security_card', security: security, link_path: admin_security_bids_path(security) %>
    </div>
  <% end %>
</div>

<%= render 'shared/footer' %>
