<div class="container">
  <br>
  <div class="row">
    <div class="details-card col-md-9" id= '<%=@security.issuer.name.downcase.gsub(" ", "-")%>'>
      <%= image_tag @security.issuer.name.downcase+"-logo.png", height: "100" , id: "logo" %>
      <h1><%= @security.security_type.name %> - <%= @security.issuer.name %></h1>
      <div class="row">
        <div class="col-md-7">
          <%= render 'shared/product_info' %>
          <% if current_user == @security.user %>
            <%= link_to "Editar", edit_admin_security_path, class: "btn btn-primary" %>
            <%= link_to "Deletar", admin_securities_path, method: :delete, data: { confirm: 'Deseja remover este título?' }, class: "btn btn-danger" %>
          <% else %>
          <% end %>
        </div>
      <div class="col-md-4">
        <% if current_user != @security.user %>
          <%= render 'shared/bid_card' %>
        <% else %>
        <% end %>
      </div>
    </div>
      <h1> </h1>
      <%= render 'shared/fgc' %>
    </div>
    <div class="col-md-3">
      <% if current_user != @security.user %>
        <%#= render 'shared/calculations_card' %>
        <div class="security-card"></div>
      <% else %>
        <%#= render 'shared/security_card' %>
      <% end %>
    </div>
  </div>
</div>
