<h2>Extrato de <%= current_user.name %></h2>
<p>Posição em <%= Time.now.strftime("%d/%m/%Y") %> às <%= Time.now.strftime("%H:%M:%S") %></p>
<div class="row">
  <div class="col-md-3">
    <%= render "shared/user_card", user: current_user %>
  </div>
  <div class="col-md-9" align="center">
    <table class="table table-sm table-responsive">
      <thead>
        <tr>
          <th>Data</th>
          <th>Operação</th>
          <th>Valor</th>
        </tr>
      </thead>
      <tbody>
        <% @bids.each do |bid| %>
          <% if current_user == bid.buyer %>
            <tr class="danger">
              <td><%= bid.security.updated_at.strftime("%d/%m/%Y %H:%M:%S") %></td>
              <td>Compra de <%= bid.security.issuer.name %> #<%= bid.security.code %> - Operação #<%= bid.id %></td>
              <td>- (<%= number_to_currency(bid.price, :unit => "R$ ", :separator => ",", :delimiter => ".") %>)</td>
            </tr>
          <% else %>
            <tr class="success">
              <td><%= bid.security.updated_at.strftime("%d/%m/%Y %H:%M:%S") %></td>
              <td>Venda de <%= bid.security.issuer.name %> #<%= bid.security.code %> - Operação #<%= bid.id %></td>
              <td><%= number_to_currency(bid.price, :unit => "R$ ", :separator => ",", :delimiter => ".") %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <p class="balance-exibition">O saldo em <%= Time.now.strftime("%d/%m/%Y") %> às <%= Time.now.strftime("%H:%M:%S") %> é de <%= number_to_currency(current_user.calc_balance, :unit => "R$ ", :separator => ",", :delimiter => ".") %> </p>
  </div>
</div>
