<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= favicon_link_tag(source='favicon.ico') %>
    <meta name="description" content="A secondary é uma plataforma independente para comprar e vender títulos de renda fixa no mercado secundário">
    <meta property="og:title" content="Secondary - A sua plataforma para negociar títulos de renda fixa.">
    <meta property="og:image" content="<%=image_path("facebook-card.jpg") %>">
    <meta property="og:description" content="A secondary é uma plataforma independente para comprar e vender títulos de renda fixa no mercado secundário">
    <meta property="og:site_name" content="Secondary.">
    <title>Secondary. - A sua plataforma para negociar títulos de renda fixa.</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body class='landing-page'>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>


